$main_font:'Poppins';

.sixth_banner h3{
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #C0C0C0;
  text-align: center;
  margin-bottom: 22px;
}